Practice/Views/Movies/Create.cshtml
Practice/Views/Movies/Delete.cshtml
Practice/Views/Movies/Details.cshtml
Practice/Views/Movies/Edit.cshtml
Practice/Views/Movies/Index.cshtml
Practice/bin/Debug/netcoreapp3.1/dotnet-aspnet-codegenerator-design.dll
Practice/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Razor.Language.dll
Practice/bin/Debug/netcoreapp3.1/Microsoft.Bcl.AsyncInterfaces.dll
Practice/bin/Debug/netcoreapp3.1/Microsoft.Bcl.HashCode.dll
Practice/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.CSharp.dll
Practice/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
Practice/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.dll
Practice/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.Razor.dll
Practice/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.Workspaces.dll
Practice/bin/Debug/netcoreapp3.1/Microsoft.Data.SqlClient.dll
Practice/bin/Debug/netcoreapp3.1/Microsoft.Data.Sqlite.dll
Practice/bin/Debug/netcoreapp3.1/Microsoft.DotNet.PlatformAbstractions.dll
Practice/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Abstractions.dll
Practice/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Design.dll
Practice/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.dll
Practice/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Relational.dll
Practice/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Sqlite.dll
Practice/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.SqlServer.dll
Practice/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Abstractions.dll
Practice/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Memory.dll
Practice/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Abstractions.dll
Practice/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Binder.dll
Practice/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.dll
Practice/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.Abstractions.dll
Practice/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.dll
Practice/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyModel.dll
Practice/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Abstractions.dll
Practice/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.dll
Practice/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Options.dll
Practice/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
Practice/bin/Debug/netcoreapp3.1/Microsoft.Identity.Client.dll
Practice/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Contracts.dll
Practice/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Core.dll
Practice/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.dll
Practice/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.EntityFrameworkCore.dll
Practice/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Templating.dll
Practice/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Utils.dll
Practice/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGenerators.Mvc.dll
Practice/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
Practice/bin/Debug/netcoreapp3.1/NuGet.Frameworks.dll
Practice/bin/Debug/netcoreapp3.1/Practice.deps.json
Practice/bin/Debug/netcoreapp3.1/Practice.dll
Practice/bin/Debug/netcoreapp3.1/Practice.pdb
Practice/bin/Debug/netcoreapp3.1/Practice.Views.dll
Practice/bin/Debug/netcoreapp3.1/Practice.Views.pdb
Practice/bin/Debug/netcoreapp3.1/SQLitePCLRaw.batteries_v2.dll
Practice/bin/Debug/netcoreapp3.1/SQLitePCLRaw.core.dll
Practice/bin/Debug/netcoreapp3.1/SQLitePCLRaw.nativelibrary.dll
Practice/bin/Debug/netcoreapp3.1/SQLitePCLRaw.provider.dynamic_cdecl.dll
Practice/bin/Debug/netcoreapp3.1/System.Composition.AttributedModel.dll
Practice/bin/Debug/netcoreapp3.1/System.Composition.Convention.dll
Practice/bin/Debug/netcoreapp3.1/System.Composition.Hosting.dll
Practice/bin/Debug/netcoreapp3.1/System.Composition.Runtime.dll
Practice/bin/Debug/netcoreapp3.1/System.Composition.TypedParts.dll
Practice/bin/Debug/netcoreapp3.1/System.Configuration.ConfigurationManager.dll
Practice/bin/Debug/netcoreapp3.1/System.Runtime.Caching.dll
Practice/bin/Debug/netcoreapp3.1/System.Security.Cryptography.ProtectedData.dll
Practice/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
Practice/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
Practice/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.resources.dll
Practice/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
Practice/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.CSharp.resources.dll
Practice/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
Practice/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.resources.dll
Practice/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
Practice/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.CSharp.resources.dll
Practice/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
Practice/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.resources.dll
Practice/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
Practice/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
Practice/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
Practice/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.resources.dll
Practice/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
Practice/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.CSharp.resources.dll
Practice/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
Practice/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.resources.dll
Practice/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
Practice/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
Practice/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
Practice/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.resources.dll
Practice/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
Practice/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
Practice/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
Practice/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.resources.dll
Practice/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
Practice/bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
Practice/bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
Practice/bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.resources.dll
Practice/bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
Practice/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
Practice/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
Practice/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.resources.dll
Practice/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
Practice/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
Practice/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
Practice/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.resources.dll
Practice/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
Practice/bin/Debug/netcoreapp3.1/runtimes/alpine-x64/native/libe_sqlite3.so
Practice/bin/Debug/netcoreapp3.1/runtimes/linux-arm/native/libe_sqlite3.so
Practice/bin/Debug/netcoreapp3.1/runtimes/linux-arm64/native/libe_sqlite3.so
Practice/bin/Debug/netcoreapp3.1/runtimes/linux-armel/native/libe_sqlite3.so
Practice/bin/Debug/netcoreapp3.1/runtimes/linux-musl-x64/native/libe_sqlite3.so
Practice/bin/Debug/netcoreapp3.1/runtimes/linux-x64/native/libe_sqlite3.so
Practice/bin/Debug/netcoreapp3.1/runtimes/linux-x86/native/libe_sqlite3.so
Practice/bin/Debug/netcoreapp3.1/runtimes/osx-x64/native/libe_sqlite3.dylib
Practice/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.0/System.Runtime.Caching.dll
Practice/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.1/Microsoft.Data.SqlClient.dll
Practice/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.0/System.Runtime.Caching.dll
Practice/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.1/Microsoft.Data.SqlClient.dll
Practice/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
Practice/bin/Debug/netcoreapp3.1/runtimes/win-arm/native/e_sqlite3.dll
Practice/bin/Debug/netcoreapp3.1/runtimes/win-arm64/native/e_sqlite3.dll
Practice/bin/Debug/netcoreapp3.1/runtimes/win-arm64/native/sni.dll
Practice/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/e_sqlite3.dll
Practice/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/sni.dll
Practice/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/e_sqlite3.dll
Practice/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/sni.dll
Practice/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
Practice/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
Practice/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.resources.dll
Practice/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
Practice/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
Practice/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
Practice/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.resources.dll
Practice/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
Practice/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
Practice/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
Practice/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.resources.dll
Practice/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
Practice/obj/Practice.csproj.codegeneration.targets
Practice/obj/Practice.csproj.EntityFrameworkCore.targets
Practice/obj/Practice.csproj.nuget.cache
Practice/obj/Practice.csproj.nuget.dgspec.json
Practice/obj/project.assets.json
Practice/obj/Debug/netcoreapp3.1/Practice.AssemblyInfo.cs
Practice/obj/Debug/netcoreapp3.1/Practice.assets.cache
Practice/obj/Debug/netcoreapp3.1/Practice.csproj.FileListAbsolute.txt
Practice/obj/Debug/netcoreapp3.1/Practice.csprojAssemblyReference.cache
Practice/obj/Debug/netcoreapp3.1/Practice.dll
Practice/obj/Debug/netcoreapp3.1/Practice.pdb
Practice/obj/Debug/netcoreapp3.1/Practice.RazorAssemblyInfo.cs
Practice/obj/Debug/netcoreapp3.1/Practice.RazorCoreGenerate.cache
Practice/obj/Debug/netcoreapp3.1/Practice.Views.dll
Practice/obj/Debug/netcoreapp3.1/Practice.Views.pdb
Practice/obj/Debug/netcoreapp3.1/project.razor.json
Practice/obj/Debug/netcoreapp3.1/Razor/Views/Movies/Index.cshtml.g.cs
Practice/bin/Debug/netcoreapp3.1/Practice.pdb
Practice/bin/Debug/netcoreapp3.1/Practice.Views.dll
Practice/bin/Debug/netcoreapp3.1/Practice.Views.pdb
Practice/obj/Practice.csproj.nuget.cache
Practice/obj/Debug/netcoreapp3.1/Practice.AssemblyInfo.cs
Practice/obj/Debug/netcoreapp3.1/Practice.assets.cache
Practice/obj/Debug/netcoreapp3.1/Practice.csproj.FileListAbsolute.txt
Practice/obj/Debug/netcoreapp3.1/Practice.csprojAssemblyReference.cache
Practice/obj/Debug/netcoreapp3.1/Practice.dll
Practice/obj/Debug/netcoreapp3.1/Practice.pdb
Practice/obj/Debug/netcoreapp3.1/Practice.RazorAssemblyInfo.cs
Practice/obj/Debug/netcoreapp3.1/Practice.RazorCoreGenerate.cache
Practice/obj/Debug/netcoreapp3.1/Practice.Views.dll
Practice/obj/Debug/netcoreapp3.1/Practice.Views.pdb
Practice/bin/Debug/netcoreapp3.1/Practice.pdb
Practice/bin/Debug/netcoreapp3.1/Practice.Views.dll
Practice/bin/Debug/netcoreapp3.1/Practice.Views.pdb
Practice/obj/Practice.csproj.nuget.cache
Practice/obj/Debug/netcoreapp3.1/Practice.AssemblyInfo.cs
Practice/obj/Debug/netcoreapp3.1/Practice.assets.cache
Practice/obj/Debug/netcoreapp3.1/Practice.csproj.FileListAbsolute.txt
Practice/obj/Debug/netcoreapp3.1/Practice.csprojAssemblyReference.cache
Practice/obj/Debug/netcoreapp3.1/Practice.dll
Practice/obj/Debug/netcoreapp3.1/Practice.pdb
Practice/obj/Debug/netcoreapp3.1/Practice.RazorAssemblyInfo.cs
Practice/obj/Debug/netcoreapp3.1/Practice.RazorCoreGenerate.cache
Practice/obj/Debug/netcoreapp3.1/Practice.Views.dll
Practice/obj/Debug/netcoreapp3.1/Practice.Views.pdb
